@use './vars' as *;
/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Custom properties*/

/* COLORS: */
.c_purple{color:#3f3a64;}
.c_green{color:#20ad96;}

/*Pseudo-classes*/

/*Generics*/
body{
    font-family: $main-font;
}
header{
    height: 56px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
}
ul{
    padding-top: 15px;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 0 20px 0 20px;
}
a{
    text-decoration: none;
}
main{
    position: relative;
    left: 10px;
    padding-right: 110px;
}
/*Utilties*/
.margin_contents{
    width: 1400px;
    margin: 0 auto;
    border: dashed black 1px;
}
/*Layout*/
.layout_container{
    height: 100vh;
    border: dashed red 1px;
    
}
.left_container{
    width: 100%;
    height: calc(100vh - 58px);
    background-color: azure;
    position: relative;
    margin-top: 56px;
    overflow-y: scroll;
}


