@use './vars' as *;
/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Custom properties*/

/*Pseudo-classes*/

/*Generics*/
body{
    font-family: $main-font;
}
header{
    background-color: white;
}
/*Utilties*/
.margin_contents{
    width: 1200px;
    margin: 0 auto;
    border: dashed black 1px;
}
/*Layout*/
.layout_container{
    height: 100%;
    border: dashed red 1px;
    
}
.left_container{
    width: 100%;
    height: 500px;
    background-color: azure;
    position: relative;
}


