@use './vars' as *;
/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Custom properties*/

/* COLORS: */
.c_purple{color:#3f3a64;}
.c_green{color:#20ad96;}

/*Pseudo-classes*/
.main_btn:hover{
    background-color: #3f3a64;
    cursor: pointer;
}

/*Generics*/
body{
    font-family: $main-font;
}
header{
    height: 56px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1;
}
ul{
    padding-top: 15px;
}
ul li{
    display: inline-block;
    padding: 0 20px 0 20px;
}
a{
    text-decoration: none;
    color: #111111;
}

h1{
    font-size: 48px;
}
h3{
    font-size: 20px;
}
/*Utilties*/
.margin_header_contents{
    width: 1400px;
    margin: 0 auto;
}
.margin_contents{
    width: 1200px;
    margin: 0 auto;
}
/*Layout*/
.container-fluid{
    overflow-y: scroll;
    padding: 0%;
}
.left_container{
    width: 100%;
    height: calc(100vh - 58px);
    position: relative;
    margin-top: 56px;
    
}
/*Buttons*/
.main_btn{
    background-color: #20ad96;
    color: white;
    padding: 10px 25px 10px 25px;
    border-style: none;
    border-radius: 10px;
    font-weight: 700;

}



